# --- Web Framework & Server ---
fastapi
uvicorn
pydantic
pydantic-settings
python-multipart

# --- Data Science & Processing ---
pandas
numpy
scikit-learn
scipy

# --- NLP & IA ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu; platform_system == "Linux"
torch==2.5.1; platform_system != "Linux"
transformers
spacy


# --- Automation & Network ---
ldap3
schedule

# --- Utility & Logging ---
loguru
python-dateutil